@import "../shared/globals.scss";

$transition: cubic-bezier(0.4, 0, 0.54, 0.77);

.animate-button {
  transform: translateY(50px);
  transition: 0.2s transform $transition;
}

.fade-in {
  animation: fadeInAnimation 0.4s $transition;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
