$color-background: #ffffff;
$color-background--contrast: #f8f8f8;

$color-text: #363636;
$color-text--contrast: #ffffff;
$color-text--primary: #45852d;

$color-primary: #006f79;
$color-primaty--active: #004147;
$color-secondary: #ec6608;

$color-border: #d8d8d8;
